/* Auth spinner */
.auth-spinner {
	width: 11.2px;
	height: 11.2px;
	border-radius: 11.2px;
	box-shadow:
		28px 0px 0 0 rgba(234, 32, 39, 0.2),
		22.7px 16.5px 0 0 rgba(234, 32, 39, 0.4),
		8.68px 26.6px 0 0 rgba(234, 32, 39, 0.6),
		-8.68px 26.6px 0 0 rgba(234, 32, 39, 0.8),
		-22.7px 16.5px 0 0 #ea2027;
	animation: spinner-b87k6z 1s infinite linear;
}

@keyframes spinner-b87k6z {
	to {
		transform: rotate(360deg);
	}
}

/* Menu spinner */
.menu-spinner {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	background:
		radial-gradient(farthest-side, #ea2027 94%, #0000) top/11.5px 11.5px
			no-repeat,
		conic-gradient(#0000 30%, #ea2027);
	mask: radial-gradient(farthest-side, #0000 calc(100% - 11.5px), #000 0);
	animation: spinner-c7wet2 0.6s infinite linear;
}

@keyframes spinner-c7wet2 {
	100% {
		transform: rotate(1turn);
	}
}

/* Smooth rendering */
.smooth-rendering {
	animation: smooth-render 0.5s ease-in;
}

@keyframes smooth-render {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Navigation notification */
.nav-noti {
	animation: nav-noti 0.5s ease-in;
}

@keyframes nav-noti {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 100;
	}
}

/* Movedown animation */
.menu-animation {
	animation: menuAnimation 2s infinite;
}

@keyframes menuAnimation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1);
	}
}

/* Header animations */
.header-message::before {
	content: 'Welcome to the Fast-Menu App. Add your favorite items and enjoy! 🍕 🍟 🍾';
	position: absolute;
	animation: headerMessageAnimation 6s linear infinite;
}

@keyframes headerMessageAnimation {
	0% {
		transform: translateX(400px);
	}

	100% {
		transform: translateX(-450px);
	}
}
