@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: var(--theme-color-main-bg);
	transition: all 0.3s;
}

.active {
	color: var(--color-text-dark);
	background-color: var(--color-secondary) !important;
	margin: 0 2rem !important;
}
